</main><footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <!-- <h2 class="footer-heading">Abhishek Hegade K R</h2> -->
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Abhishek Hegade K R</li><li><a class="u-email" href="mailto:ah30@illinois.edu">ah30@illinois.edu</a></li></ul>
        </div>
  
        <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
  </div>
  
        <div class="footer-col footer-col-3">
          <p></p>
        </div>
      </div>
  
    </div>
  
  </footer>